body{
	background-image: url("../images/bg/background.jpg");
	overflow: hidden;
	font-family: sans;
}

div#container{
	width: 800px;
	height: 400px;
	margin: 100px auto 10px auto;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #000000;
}

div#container-hinfos{
	width: 800px;
	height: 400px;
	margin: 100px auto 10px auto;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #000000;
}

div#container img#logo{
	position: relative;
	top: -36px;
        right: 400px;
	width: 128px;
	margin: 0px 0px 0px 50px;
}

div#container img#logo-custom{
	position: relative;
	top: -36px;
        right: 400px;
	width: 128px;
	margin: 0px 0px 0px 410px;
}

div#container-hinfos img#logo-custom{
	position: relative;
	top: -36px;
        right: 400px;
	width: 128px;
	margin: 0px 0px 0px 410px;
}

div#container-hinfos div#title{
	float: right;
	font-family: sans;
	font-size: 32px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000000;
	margin: 20px 70px 10px 0px;
	border-bottom: 1px solid #CCCCCC;
}

div#container div#title{
	float: right;
	font-family: sans;
	font-size: 32px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000000;
	margin: 20px 70px 10px 0px;
	border-bottom: 1px solid #CCCCCC;
}

div#container-hinfos div#processor{
	display: block;
	text-align: left;
	font-family: sans;
	margin: 30px 0px 0px 25px;
}

div#container-hinfos div#uptime{
	display: block;
	text-align: left;
	font-family: sans;
	margin: 0px 0px 0px 25px;
}

div#container-hinfos div#txdata{
	display: block;
	text-align: left;
	font-family: sans;
	margin: 20px 0px 0px 25px;
}

div#container-hinfos div#rxdata{
	display: block;
	text-align: left;
	font-family: sans;
	margin: 20px 0px 0px 25px;
}

div#container div#tempgauge{
	float: left;
	margin: 70px 0px 25px 0px;
	height: 125px;
	width: 180px;
}

div#container div#memfreegauge{
	float: left;
	margin: -25px 0px 25px 0px;
	height: 125px;
	width: 180px;
}

div#container div#clockgauge{
	float: left;
	margin: -25px 0px 25px 0px;
	height: 125px;
	width: 180px;
}

div#container div#cpugauge{
	float: left;
	margin: -25px 0px 25px 0px;
	height: 125px;
	width: 180px;
}

div#container div#voltgauge{
	float: left;
	margin: 70px 0px 25px 0px;
	height: 125px;
	width: 180px;
}

div#container-hinfos div#border{
	float: left;
	font-weight: bold;
	margin: -15px 0px 0px 0px;
	width: 800px;
	border-bottom: 2px solid #CCCCCC;
}

.navbar-default {
    background-color: #636363;
}
